.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.productname,
.producttype,
.productnote,
.productquantity,
.popup-action {
    grid-row: inherit;
    height: 50px;
}

.productname strong,
.producttype strong,
.productnote strong,
.productquantity strong {
    float: left;
}

.productname input,
.producttype input,
.productnote input,
.productquantity input {
    padding-left: 10px;
    height: 100%;
    float: right;
    text-align: left;
    border-radius: 5px;
    width: 800px;
    font-size: 1.5rem;
}

.popup-action {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.delete-button,
.close-popup,
.update-button {
    font-size: 1.5rem;
    width: 200px;
}

.delete-button:hover,
.close-popup:hover,
.update-button:hover {
    background-color: rgb(71, 163, 255);
    border: none;
}