.upload-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.upload-popup-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.uploadproductname,
.uploadproducttype,
.uploadproductnote,
.uploadproductquantity,
.upload-action {
    grid-row: inherit;
    height: 50px;
}

.uploadproductname input,
.uploadproducttype input,
.uploadproductnote input,
.uploadproductquantity input {
    padding-left: 10px;
    height: 100%;
    float: right;
    text-align: left;
    border-radius: 5px;
    width: 800px;
    font-size: 1.5rem;
}

.upload-action {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.upload-button,
.close-upload-popup {
    border-radius: 25px;
    font-size: 1.5rem;
    width: 200px;
    background-color: white;
}

.upload-button:hover,
.close-upload-popup:hover {
    background-color: rgb(71, 163, 255);
    border: none;
}